@import '../../App.scss';

.results {
  background: darken($backgroundColor, 25);
  max-height: 50vh;
  min-height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  color: lighten($backgroundColor, 60);
  border: 3px $accentColor groove;
}
