@import '../../App.scss';
$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 80vw;
  max-height: 40vh;
  min-height: 200px;

  label {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;
    margin: 1rem 0;

    &.inputs {
      flex-direction: column;
    }

    div {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    input,
    textarea {
      width: 70%;
    }

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #ccc;

        &.current {
          background: lighten($accentColor, 50);
        }
        &:hover,
        &.active {
          background: #9a9a9a;
        }
      }
    }
  }
}
